services:
  my-chat-server:
    build: 
      context: .
      target: development
    deploy:
      replicas: 2
    environment:
      - NODE_ENV=development
      - DB_HOST=host.docker.internal
      - REDIS_HOST=redis-service
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run start:dev
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx-proxy:
    container_name: nginx-web-dev
    volumes:
      - ./public:/usr/share/nginx/html:ro
      - ./uploads:/usr/src/app/uploads:ro