services:
  my-chat-server:
    image: dohun03/my-chat-server:latest
    restart: always
    volumes:
      - ./logs:/usr/src/app/logs
      - ./uploads:/usr/src/app/uploads
    env_file:
      - .env
    depends_on:
      redis-service:
        condition: service_healthy
    networks:
      - chat-network

  redis-service:
    image: redis:alpine
    restart: always
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - chat-network

  nginx-proxy:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - my-chat-server
    networks:
      - chat-network

networks:
  chat-network:
    driver: bridge

volumes:
  redis-data: