services:
  my-chat-server:
    build:
      context: .
      target: production
    deploy:
      replicas: 2
    environment:
      - NODE_ENV=production
      - MY_UID=${MY_UID}
      - MY_GID=${MY_GID}
    logging: &default-logging
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis-service:
    logging: *default-logging

  nginx-proxy:
    container_name: nginx-proxy
    volumes:
      - ./public:/usr/share/nginx/html:ro
    logging: *default-logging