services:
  my-chat-server:
    image: dohun03/my-chat-server:latest
    user: "${MY_UID}:${MY_GID}"
    restart: always
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    volumes:
      - ./logs:/usr/src/app/logs:rw
      - ./uploads:/usr/src/app/uploads:rw
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
    depends_on:
      redis-service:
        condition: service_healthy
    networks:
      - chat-network

  redis-service:
    image: redis:alpine
    restart: always
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
    networks:
      - chat-network

  nginx-proxy:
    image: nginx:alpine
    restart: always
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./uploads:/usr/src/app/uploads:ro
    depends_on:
      - my-chat-server
    networks:
      - chat-network

networks:
  chat-network:
    driver: bridge

volumes:
  redis-data: