name: CI/CD Docker Compose Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push NestJS Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/my-chat-server:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-chat-server:latest

      - name: Copy config files to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          source: "docker-compose.yml,docker-compose.prod.yml,nginx.conf,public/"
          target: "~/app/"

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            mkdir -p ~/app/logs/info ~/app/logs/error ~/app/uploads
            sudo chown -R $USER:$USER ~/app
            sudo chmod -R 777 ~/app/logs ~/app/uploads
            
            cd ~/app
            export MY_UID=$(id -u)
            export MY_GID=$(id -g)
            
            MY_UID=$MY_UID MY_GID=$MY_GID
            docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d --remove-orphans
            
            docker exec nginx-proxy nginx -s reload || true